
body {
  font-family: 'Montserrat', sans-serif !important;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: 0px;
}

.map-base-layer-awmc {
  filter: grayscale(90%) sepia(50%) brightness(105%);
}

.map-base-layer-imperium {
  filter: grayscale(20%) contrast(90%) sepia(70%) saturate(130%)
}

.map-base-layer-osm {
  filter: grayscale(0.5)
}

.map-base-layer-esri{
  filter: grayscale(50%) brightness(200%) contrast(50%) sepia(70%);
}

.__react_component_tooltip {
  z-index: 9999 !important;
}

.carousel-sequence {
  stroke-width: 0;
  mix-blend-mode: saturation;
}

.map-points{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
}

.map-churches{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
}