
body {
  font-family: Roboto, sans-serif !important;
  color: rgb(66, 66, 66);
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  outline: 0px;
}

.map-base-layer-awmc {
  filter: grayscale(90%) sepia(50%) brightness(105%);
}

.map-base-layer-imperium {
  filter: grayscale(20%) contrast(90%) sepia(70%) saturate(130%)
}

.map-base-layer-osm {
  filter: grayscale(0.5)
}

.map-base-layer-esri{
  filter: grayscale(50%) brightness(200%) contrast(50%) sepia(70%);
}

.__react_component_tooltip {
  z-index: 99999 !important;
}

.carousel-sequence {
  stroke-width: 0;
  mix-blend-mode: saturation;
}

.map-isis{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
}

.map-congregates{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: .7;
  fill: #016c59;
}

.map-synagogues{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: .7;
  fill: #bd0026;
}

.map-churches{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: black;
}

.map-mithraea{
  stroke-width: 0;
  stroke: white;
  stroke-opacity: 1;
  fill-opacity: 1;
}

.map-forts{
  stroke-width: 10;
  stroke-opacity: 0;
  fill-opacity: 1;
  fill: #54278f;
}

.map-aux{
  stroke-width: 1;
  stroke-opacity: 1;
  fill-opacity: 0;
  stroke: black;
}

.leaflet-tooltip-pane, leaflet-popup-pane{
  z-index: 1200 !important
}

.leaflet-control-attribution{
  bottom: 276px;
  right: 20px;
}